// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background: black;
}

img.king{
  display: block;
  max-width: 85vh;
  max-height: 85vw;
  margin: 10vh auto 0;
}